/* div {
  background-color: blue;
  display: inline-block
  width: 200px
  height: auto ;
   ; */
   * {
  padding: 20;
  margin: 10;
}

/* <img src="example.png" style="width:2em; height:3em;" /> */
.octocat {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
}

.octocat img {
  max-width: 450px;
  height: auto;
  border: 1px solid #C3C3C3;
}


.authors img {
  height: 2em;
  width: 2em;
}

.authors {
  font-weight: 800;
}

ul.authors {

  list-style-type: none;
}

.image-number {
  color: #C3C3C3;
  font-weight: bold;
}

.image-number::before  {
  content: "#";
}

.image-caption {
  font-weight: bold;
}

.image-caption a {
  text-decoration: none;
  font-weight: bold;
}

.image-footer {
  border-bottom: 1px solid #C3C3C3
}
/* }
.octodex {
  display: inline-block;
} */

/* img[src="https://github.com/jeejkang.png"]{
  width: 100px
  heigh: auto;
} */
